@use '../../../styles/component.scss' as component;

.businessSection {
    @include component.container;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;
        padding: 0 1rem;

    @include component.tablet-up {
        margin-bottom: 10rem;
    }

    
    &__title {
        @include component.typography('display-2', var(--text));
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        
        &__image {
            position: relative;
            width: 100%;
            height: 300px;

            @include component.desktop-up {
                width: 45%;
                height: 400px;
            }
        }


        @include component.desktop-up {       
            flex-direction: row;
            align-items: start;
            justify-content: space-between; 
            
            &__reverse {
            flex-direction: row-reverse;
        }
            
        }
       
        
        &__body {
            flex: 1;         

            &__text {
                line-height: 1.6;
                color: var(--text);
                @include component.typography('body-lg', var(--text));
                white-space: pre-wrap;

                strong {
                font-weight: bolder !important;
                color: var(--secondary) !important;
                @include component.typography('body-xl', var(--text));
                }
                :global(.wysiwyg-strong) { font-weight: 800; }
            }

            &__bulletPoints {
                margin-top: 2rem;
                strong {
                font-weight: bolder !important;
                color: var(--secondary) !important;
                
                }
                

                &__item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    color: var(--text);
                    @include component.typography('body-base', var(--text));
                    font-weight: 500;

                        :global(strong),
                        :global(b),
                        :global(.wysiwyg-strong) {
                        font-weight: bolder !important;
                        @include component.typography('body-lg', var(--text));
                        }
            

                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 2rem;
                        object-fit: contain;
                    }
                }
            }

            &__button {
                @include component.button-large;
                margin-top: 2rem;
                display: inline-block;
                width: 100%;
                text-align: center;

                @include component.desktop-up {
                    width: auto;
                }
            }
        }

        &__slider {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    

}

