@use '../../../styles/component.scss' as component;

.hero {

    position: relative;
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 100%);
    padding-top: 10vh;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 320px; // Or the height you want for your SVG
    z-index: 5 !important;
    fill: var(--background);
    pointer-events: none;
    }   


    &__background path {
        transition: fill 0.3s ease;
    }

    &__container {
        width: 70%;
        z-index: 10 !important;
        display: flex;
        flex-direction: column;

        @include component.large-desktop-up {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;   
        }      
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        z-index: 10 !important;
        text-align: center;
        margin-bottom: 2rem;

        @include component.large-desktop-up {
            text-align: left
        }
        
    }

    &__eyebrow {

       @include component.typography('body-base', #fff);

       text-transform: uppercase;
       font-weight: 700;

       @include component.large-desktop-up{
        @include component.typography('body-base', #fff);
       }
       
    }

    &__heading {

        text-transform: uppercase;
        @include component.typography('display-2', #fff);

        @include component.large-desktop-up{
            @include component.typography('display-1', #fff);
        }
        
    }

    &__text {
        @include component.typography('heading-1', #fff);
    }

    &__image {
        flex: 1;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        z-index: 10 !important;
    }






}