@use '../../../styles/component.scss' as component;

.features {
    @include component.container;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        text-align: center;
        margin-bottom: 5rem;

        &__eyebrow {
            @include component.typography('body-lg', var(--secondary));
            font-weight: 700;
            margin-bottom: 0.6rem;
            text-transform: uppercase
        }

        &__title {
            @include component.typography('display-2', var(--text));
            margin-bottom: 1rem;
            text-transform: uppercase
        }

        &__body {
            @include component.typography('body-lg', var(--text));
            margin: 0 auto; // Center the text horizontally

            @include component.tablet-up {
                max-width: 80%;
            }
            
            @include component.desktop-up {
                max-width: 60%;
            }
            
        }
    }

    &__button {
        @include component.button-large;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
        gap: 2rem;
        margin-top: 2rem;
        justify-items: center;
        align-items: stretch;

        @include component.tablet-up {
            grid-template-columns: repeat(2, minmax(50%, 1fr));
            width: 80vw;
        }

        @include component.desktop-up {
            grid-template-columns: repeat(2, minmax(50%, 1fr));
            width: 70vw;
        }

        @include component.large-desktop-up {
            grid-template-columns: repeat(3, minmax(33%, 1fr));
        }

        &__card {
            background: var(--cardBackground);
            position: relative;
            padding: 4rem 2rem;
            margin-bottom: 3rem;
            border-radius: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            @include component.card-hover-effect;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 90%;

            @include component.tablet-up {
                width: 100%;
            }

            &__iconWrapper {
                position: absolute;
                top: -25px;
                left: 5%;
                padding: 10px;
                background-color: var(--secondary);
                border-radius: 16px;
            }

            &__title {
                @include component.typography('heading-2', var(--text));
                margin-bottom: 1rem;
            }

            &__body {
                @include component.typography('body-base', var(--text));
                font-weight: 600;
            }

            &__button {
                @include component.button;
                padding: 1rem 2rem !important;
                margin-top: 2rem;
                display: inline-block;
            }
        }
    }


}