@import './_colors.scss';
@import './_reset.scss';
@import './_typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  transition: color 0.5s ease;
}

a {
  color: var(--primary);
  transition: color 0.5s ease;
}



