@use '../../../styles/component.scss' as component;

.ourWork {

    @include component.container;
    padding: 4rem 1rem;

    &__header {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include component.desktop-up {
            flex-direction: row;
        }

        &__eyebrow {
            @include component.typography('body-lg', var(--secondary));
            font-weight: 700;
            text-transform: uppercase;
        }

        & h3 {
            @include component.typography('display-2', var(--text));
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        &__description {
            @include component.typography('body-lg', var(--text));
            align-content: center;
        }
    }

    &__cards {
         @include component.container;
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, 1fr));
        gap: 2rem;
        justify-items: center;
        align-items: stretch;
        text-align: center;

        &__card {
            text-decoration: none !important;

            &__imageWrapper {
                position: relative;
                width: 100%;
                height: 200px;
                border-radius: 8px;
                overflow: hidden;

                @include component.tablet-up {
                    height: 250px;
                }

                @include component.desktop-up {
                    height: 300px;
                }

                @include component.large-desktop-up {
                    height: 350px;
                }
            }

            &__description {
                @include component.typography('body-base', var(--text));
                margin-bottom: 1rem;
                

                @include component.desktop-up {
                    
                }
            }

            &__button {
                @include component.button;
            }
        }

        @include component.desktop-up {
            grid-template-columns: repeat(2, minmax(50%, 1fr));
            text-align: left;
        }

        @include component.large-desktop-up {
            grid-template-columns: repeat(3, minmax(30%, 1fr));
        }

        h4 {
            @include component.typography('heading-2', var(--primary));
            margin: 1rem 0;
        }
    }
}