@use '../../../styles/component.scss' as component;

.performance {
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 100%);
    margin: 4rem 0;
    padding: 4rem 0;

    &__container {
        @include component.container;
        padding: 0 1rem;

        &__topContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            @include component.desktop-up {
                flex-direction: row;
                gap: 4rem;
            }

            &__eyebrow {
                @include component.typography('body-lg', var(--secondary));
                font-weight: 700;
                text-transform: uppercase;
            }

            &__headings {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 1rem;
            }

            &__heading {
                @include component.typography('display-2', #fff);
                margin: 0;
            }

            &__stats {
                margin-top: 2rem;
                display: flex;
                gap: 2rem;

                @include component.tablet-up {
                    justify-content: flex-end;
                }

                &__item {
                    width: 33.3%;
                    text-align: center;

                    &__number {
                        @include component.typography('heading-2', var(--secondary));
                        margin: 0;

                        @include component.tablet-up {
                            @include component.typography('heading-1', var(--secondary));
                        }
                    }

                    &__text {
                        @include component.typography('body-base', #fff);
                        margin: 0;

                        @include component.tablet-up {
                            @include component.typography('heading-3', #fff);
                        }

                       
                    }
                }
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            margin-top: 2rem;
            gap: 2rem;

            &__image {
                position: relative;
                width: 100%;
                height: 400px;
                border-radius: 8px;
                overflow: hidden;

                @include component.tablet-up {
                    height: 500px;
                }


                @include component.desktop-up {
                    width: 45%;
                    height: 560px;
                }

                &__img {
                    object-fit: contain;
                    
                }
            }


            &__content {
                width: 100%;
                
                @include component.desktop-up {
                    width: 60%;
                }

              &__description {
                  @include component.typography('body-lg', #fff);
                  margin: 0;

                  &__bulletPoints {
                      margin-top: 1rem;
                      padding-left: 1.5rem;

                      &__item {
                          display: flex;
                          gap: 0.5rem;
                          margin-bottom: 1rem;
                          width: auto;
                          align-items: center;

                          @include component.tablet-up {
                              width: 70%;
                          }
                          
                          p {
                                @include component.typography('body-lg', #fff);
                                margin: 0;
                          }
                      }
                  }


                  &__button {
                      margin-top: 1.5rem;
                      @include component.button-secondary-large;
                      width: 100%;
                      text-align: center;

                      @include component.desktop-up {
                          width: auto;
                          text-align: left;
                      }
                      
                  }
              }   
            }

            @include component.desktop-up {
                flex-direction: row;
            }
        }

    }
}